.app {
  width: calc(min(100vw, 420px));
  margin: 0 auto;
  height: 100vh;
  font-family: 'S-CoreDream-3Light', sans-serif;
  transition: all 0.5s;
  --adm-color-border: #f0f0f0;
  .adm-switch-checkbox:before {
    background-color: #e8e8e8;
  }
}

.dark {
  background-color: #262626;
  color: #f0f0f0;
  --adm-color-border: #434343;
  --adm-color-background: #262626;
  --adm-color-text-secondary: #bbb;
  .adm-empty-description {
    margin-top: 8px;
    font-size: var(--adm-font-size-6);
    color: #8c8c8c;
  }
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 아래의 모든 코드는 영역::코드로 사용 */

.adm-cascader-view-content::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.adm-cascader-view-content::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #1677ff; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.adm-cascader-view-content::-webkit-scrollbar-track {
  background: #1677ff1a; /*스크롤바 뒷 배경 색상*/
}
