.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-color-border);
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  height: calc(100vh - 154px);
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.bottom {
  flex: 0;
  padding: 8px 0;
  border-top: solid 1px var(--adm-color-border);
}
