// AllRegions.jsx
.skeletonContainer {
  .customSkeleton {
    --width: 70vw;
    --height: 150px;
    --border-radius: 8px;
    margin: 20px 0;
  }
}

.allRegions {
  position: relative;
  display: flex;
  justify-content: center;
  .totalCount {
    width: 100vw;
    font-size: 18px;
    position: absolute;
    top: 0;
    text-align: center;
  }
  .cardContainer {
    position: absolute;
    top: 40px;
    overflow: scroll;
    height: calc(100vh - 224px);
    width: 100vw;
    justify-content: center;
    display: grid;
  }
}

// RegionCard.jsx
.regionCard {
  width: 80vw;
  height: 165px;
  background-color: orange;
  color: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 25px;
  .stationTitleGroup {
    width: calc(80vw - 15px);
    display: flex;
    position: absolute;
    top: 10px;
    padding-left: 15px;
    border-bottom: 1.2px solid rgba(255, 255, 255, 0.3);
    .stationName {
      font-size: 18px;
      padding-bottom: 8px;
      span {
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
  .finedustGrade {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: orange;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 54px;
    padding: 6px 15px;
    font-family: 'UhBeeSe_hyun';
  }
  .detailContainer {
    margin: 7px auto;
    width: fit-content;
    display: block;
    justify-content: center;
    .finedustValue {
      text-align: center;
    }
    .measurementDate {
      text-align: center;
    }
  }
  .liked {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
}
